JEE/PROFESOR JEE/07.SERVICIOS WEB/ejemploXML/src/c3/direccion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://NamespaceTest.com/TipoDireccion" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">
    
    <xsd:element name="Direccion" type="TipoDireccion"/>

    <xsd:complexType name="TipoDireccion">
        <xsd:sequence>
            <xsd:element name="Line1" type="xsd:string"/> 
            <xsd:element name="Line2" type="xsd:string"/>
        </xsd:sequence> 
    </xsd:complexType>
</xsd:schema> 