JEE/PROFESOR JEE/07.SERVICIOS WEB/WS1_appweb/src/conf/xml-resources/web-service-references/ElWS2/wsdl/curso-PC_8080/ElWS2/ElWS2.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://paq1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://paq1/">

<xs:element name="verPedidoWs2" type="tns:verPedidoWs2"/>

<xs:element name="verPedidoWs2Response" type="tns:verPedidoWs2Response"/>

<xs:complexType name="verPedidoWs2">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verPedidoWs2Response">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedido">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="distribuidor" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>